/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

/* Keep the Footer at the Bottom
https://moderncss.dev/keep-the-footer-at-the-bottom-flexbox-vs-grid/ */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  background: var(--color-light);
  min-height: 100vh;
  color: var(--color-dark);
  font-size: var(--step-0);
  line-height: var(--leading-standard);
  font-family: var(--font-base);
}
