/*
FLOW COMPOSITION
Like the Every Layout stack: https://every-layout.dev/layouts/stack/
Info about this implementation: https://piccalil.li/quick-tip/flow-utility/

CUSTOM PROPERTIES:
--flow-space: The amount of margin between flow children (default: 1em)

VARIANTS:
--flow-space-s: Small spacing
--flow-space-m: Medium spacing
--flow-space-l: Large spacing
*/
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow[data-spacing='s'] {
  --flow-space: var(--space-s, 0.5rem);
}

.flow[data-spacing='m'] {
  --flow-space: var(--space-m, 1rem);
}

.flow[data-spacing='l'] {
  --flow-space: var(--space-l, 2rem);
}

.flow[data-spacing='xl'] {
  --flow-space: var(--space-xl, 3rem);
}
