/*
WRAPPER COMPOSITION 
A common wrapper/container
*/
.wrapper {
  position: relative;
  margin-inline: auto;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 80rem);
}
