:root {
  --color-brand: hsla(0, 1%, 34%, 0.99);

  --color-brand-10: hsl(241, 79%, 19%, 0.1);
  --color-highlight: hsl(48, 80%, 70%);

  --text-light: hsl(0, 0%, 100%);
  --text-dark: hsl(0, 0%, 0%);
  --text-link: hsl(241, 79%, 19%, 0.95);
  --maxchars: 75ch;
  --max-content-width: 95rem;
  --gap: var(--space-l);

  --flow-space: var(--step--1);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
  --step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);
  --step-6: clamp(3.3594rem, 2.8694rem + 2.45vw, 4.7681rem);

  /* @link https://utopia.fyi/space/calculator?c=320,18,1.125,1140,20,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.12vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.12vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.61rem + 0.37vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.15rem + 0.49vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.23rem + 0.73vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.3rem + 0.98vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.46rem + 1.46vw), 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.19rem + 0.61vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.42rem + 0.73vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.73rem + 0.73vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.83rem + 1.46vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.37rem + 1.59vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.66rem + 2.93vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.74rem + 3.17vw), 5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.33rem + 5.85vw), 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.59rem + 2.68vw), 2.5rem);

  /* Breakpoints */

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
